<div class="group cursor-pointer flex flex-col gap-2 w-full">
  <div class="relative aspect-[20/19] overflow-hidden rounded-xl bg-gray-200">
    <img
      [src]="listing.imageUrl"
      class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-300"
      alt="Casa"
    />

    @if (listing.isGuestFavorite) {
    <div
      class="absolute top-3 left-3 bg-white/95 px-3 py-1 rounded-full shadow-sm text-xs font-bold text-black"
    >
      Guest favorite
    </div>
    }

    <button class="absolute top-3 right-3 text-white/70 hover:scale-110 transition">
      <i class="pi pi-heart text-xl"></i>
    </button>
  </div>

  <div class="flex justify-between items-start mt-1">
    <h3 class="font-bold text-text-primary">{{ listing.title }}</h3>
    <div class="flex items-center gap-1 text-sm">
      <i class="pi pi-star-fill text-xs"></i>
      <span>{{ listing.rating }}</span>
    </div>
  </div>

  <p class="text-text-secondary text-sm">{{ listing.category }}</p>
  <p class="text-text-secondary text-sm">{{ listing.dates }}</p>

  <div class="mt-1 flex items-baseline gap-1">
    <span class="font-bold text-text-primary">€{{ listing.price }}</span>
    <span class="text-text-primary"> night</span>
  </div>
</div>
