@import 'tailwindcss';

/* PrimeNG Theme + Icons */
/* @import 'primeng/resources/themes/aura-light-indigo/theme.css'; */
/* @import 'primeng/resources/primera/resources/primeng.css'; */
@import 'primeicons/primeicons.css';

@theme {
  --color-primary: #ff385c;
  --color-primary-dark: #e0073d;
  --color-primary-light: #ff5a7d;

  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0;
  --color-gray-600: #757575;
  --color-gray-900: #222222;

  --font-sans: 'Circular Airbnb', system-ui, sans-serif;
}

/* Reset global */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Circular Airbnb', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
